html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
}

h1, h2, p {
    font-weight: 200;
    margin: 20px;
}

h2 {
    font-size: 15px;
}

li {
    padding: 5px;
}

/*------------------- Example 2 -------------------*/

.blueShape {
    fill: lightskyblue;
    stroke: mediumblue;
    stroke-width: 3px;
}



/*------------------- Example 4 -------------------*/

.link {
    stroke: cornflowerblue;
    stroke-width: 4px;
}

.node {
    cursor: move;
    fill: darkorchid;
    stroke: mediumblue;
    stroke-width: 3px;
}
